.gameOverviewDetails > img, h3, p{
	display: inline-block;
}

.gameOverviewDetails > img{
	position: relative;
	top: 1.1vh;
	padding: 10px;
	background-color: white;
}

.gameOverviewDetails{
	width: 100%;
	height: 20vh;
	margin-bottom: 5vh;
	background-color: #dddddd;
	transition: 0.5s;
}

.gameImages{
	height: 15vh;
	margin-left: 2vw;
}

.gameOverviewDetails > h3, p{
	position: relative;
	bottom: 7vh;
	margin-left: 0.5vw;
}

.detailLink{
	width: 70vw;
	height: 20vh;
	position: absolute;
	z-index: 2;
}

.gameOverviewDetails:hover{
	background-color: #aaaaaa;
}